
#find {
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
	cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: #fff;
}
#find:hover {
    background-color: rgb(214, 86, 86);
    color: black;
}